@font-face {
    font-family: VCR_OSD_MONO;
    src: url('./font.ttf');
}

body {
    font-family: "Afacad Flux", sans-serif !important;
    font-optical-sizing: auto;
    
}

#banner {
    width: 100%; 
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    text-align: center;
}

#welcomeText {
    margin-left: 45px;
    margin-right: 45px;
    font-size: x-large;
}

#popup {
    text-align: center;
    vertical-align: middle;
    display: none; 
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.mode-container {
    display: flex;
    padding: 25px;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.mode-container {
    font-size: larger;
}

img {
    width: 100%;
    height: auto;
    padding: 5px;
    background: #f4f4f4;
  }

.img-container {
    text-align: center;
    width: 400px;
    height: 225px;
}

.mode-info {
    flex: 1;
    max-width: 600px;
}

#powerbar {
    z-index: 5;
    font-family: VCR_OSD_MONO;
    overflow: hidden;
}

#powerbar-text {
    position: fixed;
    z-index: 5;
    font-size: 45px;
    text-align: right;
    top: 1%;
    left: 89%;
    color: black;
    font-weight: 900;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
}

#powerout {
    position: fixed;
    z-index: 2;
    background-color: #000;
    width: 100%;
    height: 100%;
}